<div class="card text-white bg-light" style="width: 18rem;">
  <img class="card-img-top" src="{{ character.portrait }}" alt="portrait">
  <div class="card-body text-dark">
    <h5 class="card-title">{{ character.name}}</h5>
    <p class="card-text">Membre de la section {{ character.division }} et porteur d'une Méta-Armure {{ character.armor }}</p>
    <button type="button" class="btn btn-dark" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
      Connaitre son histoire.
    </button>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card card-body">
        <div>
          <img class="card-img" src="{{character.coatOfArms}}" alt="blason">
          <p class="card-text">{{character.background}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
