<div class="bg-dark text-white container mt-5">

  <ul *ngIf="submitted">
    <li *ngIf="newUser.controls['username']?.errors?.required">Choisissez un nom d'utilisateur</li>
    <li *ngIf="newUser.controls['password']?.errors?.required">Choisissez un mot de passe</li>
  </ul>

  <form [formGroup]="newUser" (ngSubmit)="submitForm()">
    <div class="input-group mt-2 mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="formUsername" id="basic-addon1">Nom d'utilisateur</span>
      </div>
      <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="formPassword" id="basic-addon2">Mot de passe</span>
      </div>
      <input type="password" class="form-control" formControlName="password" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
    </div>

    <div class="justify-content-center row pt-3">
      <input class="w-25 form-control btn btn-outline-light" type="submit" value="S'enregistrer">
    </div>
  </form>
</div>
